import /vendor/etc/init/hw/init.connectivity.rc
import /vendor/etc/init/hw/init.mt6785.power.rc
import /vendor/etc/init/hw/init.mt6785.usb.rc
import /vendor/etc/init/hw/init.safailnet.rc
import /vendor/etc/init/hw/init.project.rc
import /vendor/etc/init/hw/init.sensor_1_0.rc
import /vendor/etc/init/hw/init.modem.rc

on early-init
    write /proc/bootprof "INIT:early-init"

on init
    # increase sysctl_rmem_max and sysctl_wmem_max values to 2M
    write /proc/sys/net/core/wmem_max 8388608
    write /proc/sys/net/core/rmem_max 8388608

on late-init
    write /proc/bootprof "INIT:late-init"

    # enable rcu_expedited
    write /sys/kernel/rcu_expedited 1

on charger
    # Turn backlight on and switch to backlight trigger
    write /sys/class/leds/lcd-backlight/brightness "1000"
    write /sys/class/leds/lcd-backlight/trigger "backlight"

    exec /system/bin/e2fsck -f -p /dev/block/platform/bootdevice/by-name/cache
    mount ext4 /dev/block/platform/bootdevice/by-name/cache /cache rw wait
    chmod 0660 /dev/spm
    chown system system /dev/spm
    start spm_script
    chmod 0666 /dev/kmsg
    chmod 0775 /mnt/vendor
    mkdir /mnt/vendor/nvcfg
    mount ext4 /dev/block/platform/bootdevice/by-name/nvcfg /mnt/vendor/nvcfg rw wait
    chown system system /mnt/vendor/nvcfg
    chmod 0771 /mnt/vendor/nvcfg
    restorecon_recursive /mnt/vendor/nvcfg
    write /sys/bus/platform/devices/battery/FG_daemon_log_level 7

    # Permissions for System Server and daemons.
    chown system system /sys/power/state
    chown system system /sys/power/wakeup_count
    chown radio wakelock /sys/power/wake_lock
    chown radio wakelock /sys/power/wake_unlock
    chmod 0660 /sys/power/state
    chmod 0660 /sys/power/wake_lock
    chmod 0660 /sys/power/wake_unlock
    chmod 0660 /sys/power/wakeup_count
    write /sys/power/pm_async 0
    write /sys/power/pm_freeze_timeout 2000
    start fuelgauged
    start fuelgauged_nvram

    chmod 0664 /sys/class/leds/lcd-backlight/brightness
    chown system system /sys/class/leds/lcd-backlight/brightness
    chmod 0664 /sys/class/leds/lcd-backlight/max_brightness
    chown system system /sys/class/leds/lcd-backlight/max_brightness
    chmod 0664 /sys/class/leds/white/brightness
    chown system system /sys/class/leds/white/brightness

    start vendor.light-default

    # MI Thermald
    wait /sys/class/power_supply/battery/temp
    start mi_thermald

on fs
    write /proc/bootprof "INIT:Mount_START"
    write /sys/kernel/debug/tracing/trace_marker "B|1|Mount"
    wait_for_prop hwservicemanager.ready "true"
    start vendor.boot-hal-1-1
    mount_all --early
    exec /system/bin/tune2fs -O has_journal -u 10010 -r 4096 /dev/block/platform/bootdevice/by-name/userdata
    write /sys/kernel/debug/tracing/trace_marker "E"
    write /proc/bootprof "INIT:Mount_END"

    #Audio-add
    chmod 0771 /mnt/vendor/persist/audio

on late-fs
    write /proc/bootprof "INIT:late-fs"
    wait_for_prop hwservicemanager.ready "true"
    exec_start wait_for_keymaster
    mount_all --late

on post-fs
    write /proc/bootprof "INIT:post-fs"

    #change permission for engineer mode
    chown radio system /proc/freqhopping/dumpregs
    chown radio system /proc/freqhopping/freqhopping_debug
    chown radio system /proc/freqhopping/status

    # change owner
    chown system system /proc/bootprof
    chmod 0664 /proc/bootprof
    chown root system /proc/mtprof/cputime
    chown root system /proc/mtprof/reboot_pid

    chown system system /mnt/vendor/protect_f
    chmod 0770 /mnt/vendor/protect_f

    chown system system /mnt/vendor/protect_s
    chmod 0770 /mnt/vendor/protect_s

    # Support A/B feature for EMMC and UFS boot region
    symlink /dev/block/sda /dev/block/mmcblk0boot0
    symlink /dev/block/sdb /dev/block/mmcblk0boot1
    symlink /dev/block/mmcblk0boot0 /dev/block/platform/bootdevice/by-name/preloader_a
    symlink /dev/block/mmcblk0boot1 /dev/block/platform/bootdevice/by-name/preloader_b

    # Support A/B feature for combo emmc and ufs OTA update
    symlink /dev/block/platform/bootdevice/by-name/preloader_a /dev/block/platform/bootdevice/by-name/preloader_emmc_a
    symlink /dev/block/platform/bootdevice/by-name/preloader_b /dev/block/platform/bootdevice/by-name/preloader_emmc_b
    symlink /dev/block/platform/bootdevice/by-name/preloader_a /dev/block/platform/bootdevice/by-name/preloader_ufs_a
    symlink /dev/block/platform/bootdevice/by-name/preloader_b /dev/block/platform/bootdevice/by-name/preloader_ufs_b

on post-fs-data
    write /proc/bootprof "INIT:post-fs-data"

    chown system system /mnt/vendor/nvcfg
    chmod 0771 /mnt/vendor/nvcfg
    restorecon_recursive /mnt/vendor/nvcfg
    chown system system /mnt/vendor/nvcfg/fg
    chown system system /mnt/vendor/nvcfg/fg/old_fg_data
    chown system system /mnt/vendor/nvcfg/fg/car_tune_value

    # create basic filesystem structure
    # We chown/chmod /mnt/vendor/nvdata again so because mount is run as root + defaults
    chown root system /mnt/vendor/nvdata
    chmod 0771 /mnt/vendor/nvdata
    mkdir /mnt/vendor/nvdata/media 0771 media audio

    # AudioDump
    mkdir /data/vendor/audiohal 0771 system audio
    mkdir /data/vendor/audiohal/audio_param 0771 system audio

    #Create cct mount point
    mkdir /mnt/vendor/cct
    chown root system /mnt/vendor/cct
    chmod 0771 /mnt/vendor/cct

    #Create Camera Dip Debug Folder
    mkdir /data/vendor/dipdebug
    chown root system /data/vendor/dipdebug
    chmod 0771 /data/vendor/dipdebug

    #Create flash folder
    mkdir /data/vendor/flash
    chown root system /data/vendor/flash
    chmod 0771 /data/vendor/flash

    #Create shading mount point
    mkdir /data/vendor/shading
    chown root system /data/vendor/shading
    chmod 0771 /data/vendor/shading

    #Create shading_otp mount point
    mkdir /data/vendor/shading_otp
    chown root system /data/vendor/shading_otp
    chmod 0771 /data/vendor/shading_otp

    #Create NDD mount point
    mkdir /data/vendor/camera_dump
    chown root system /data/vendor/camera_dump
    chmod 0771 /data/vendor/camera_dump

    #Create camera directory for dualcam_calibration
    mkdir mnt/vendor/persist/camera
    chown system cameraserver mnt/vendor/persist/camera
    chmod 0755 mnt/vendor/persist/camera

    mkdir /data/vendor/camera
    chown root system /data/vendor/camera
    chmod 0771 /data/vendor/camera

    #Create flicker mount point
    mkdir /data/vendor/flicker
    chown root system /data/vendor/flicker
    chmod 0771 /data/vendor/flicker

    # Set SELinux security contexts on upgrade or policy update.
    restorecon_recursive /mnt/vendor/nvdata

    #give system access to rfkill device node
    chmod 0660 /dev/rfkill

    # create for muxd pts device node , to operate without root
    mkdir /dev/radio 0770 radio radio

    chmod 0660 /dev/spm
    chown system system /dev/spm

    # SCP log
    chmod 0664 /sys/class/misc/scp/scp_mobile_log
    chown root system /sys/class/misc/scp/scp_mobile_log
    chmod 0220 /sys/class/misc/scp/scp_log_flush
    chown root system /sys/class/misc/scp/scp_log_flush
    chmod 0444 /dev/scp
    chown root system /dev/scp
    chmod 0664 /sys/class/misc/scp/scp_ee_force_ke
    chown root system /sys/class/misc/scp/scp_ee_force_ke

    # ADSP log
    chmod 0660 /sys/class/misc/adsp_0/log_enable
    chown root system /sys/class/misc/adsp_0/log_enable
    chmod 0660 /dev/adsp
    chown root media /dev/adsp
    chmod 0440 /dev/adsp_0
    chown system media /dev/adsp_0

    # SSPM log
    chmod 0620 /sys/class/misc/sspm/sspm_mobile_log
    chown root system /sys/class/misc/sspm/sspm_mobile_log
    chmod 0440 /dev/sspm
    chown root system /dev/sspm

    # Mali 3D GPU driver
    chmod 666 /dev/mali0

    # Touch Panel
    chown root diag /sys/module/tpd_setting/parameters/tpd_calmat
    chown root diag /sys/module/tpd_setting/parameters/tpd_em_debounce_time
    chown root diag /sys/module/tpd_setting/parameters/tpd_mode
    chown root diag /sys/module/tpd_setting/parameters/tpd_em_debounce_time0
    chown root diag /sys/module/tpd_setting/parameters/tpd_em_debounce_time1
    chown root diag /sys/module/tpd_setting/parameters/tpd_em_spl_num
    chown root diag /sys/module/tpd_setting/parameters/tpd_em_pressure_threshold
    chown root diag /sys/module/tpd_setting/parameters/tpd_em_auto_time_interval
    chown root diag /sys/module/tpd_setting/parameters/tpd_em_sample_cnt
    chown root diag /sys/module/tpd_setting/parameters/tpd_em_asamp
    chown root diag /sys/module/tpd_debug/parameters/tpd_em_log
    chown root diag /sys/module/tpd_debug/parameters/tpd_em_log_to_fs

    #palm_sensor
    chown system system /sys/class/touch/touch_dev/palm_sensor

    # set ptmx group to non-root
    chown root radio /dev/ptmx

    # M4U
    chmod 0444 /dev/m4u

    #set mlock to 64MB for netd
    setrlimit 8 67108864 67108864

    #set mlock limit to infinate (for m4u operation)
    setrlimit 8 -1 -1

    # CMDQ
    chmod 0644 /dev/mtk_cmdq
    chown system system /dev/mtk_cmdq

    # MDP SYNC
    chmod 0644 /dev/mdp_sync
    chown system system /dev/mdp_sync

    #OPEN DSP
    chmod 0640 /dev/audio_ipi
    chown media media /dev/audio_ipi

    #Make MTU adjusting
    write /proc/sys/net/ipv4/tcp_mtu_probing 1

    #Fingerprint
    chmod 0666 /dev/goodix_fp

    #VideoCodec
    chmod 0660 /dev/vcu
    chown media system /dev/vcu
    chmod 0660 /dev/video0
    chown media system /dev/video0
    chmod 0660 /dev/video1
    chown media system /dev/video1
    mkdir /data/vendor/vcodec 0770 media system
    mkdir /data/vendor/vcodec/log 0770 media system
    mkdir /data/vendor/vcodec/in 0770 media system
    mkdir /data/vendor/vcodec/out 0770 media system

    #MJC
    chmod 0660 /dev/MJC
    chown media system /dev/MJC

    #MDDB
    mkdir /data/vendor_de/meta 0770 system system
    mkdir /data/vendor_de/meta/mddb 0770 system system

    # Display
    chmod 0660 /dev/graphics/fb0
    chown system graphics /dev/graphics/fb0

    chmod 0660 /dev/mtk_disp_mgr
    chown system graphics /dev/mtk_disp_mgr

    # Android SEC related device nodes
    chmod 0660 /dev/sec
    chown root system /dev/sec

    # FM Radio device node
    chmod 0660 /dev/fm
    chown media media /dev/fm

    # device info /proc interface
    chmod 0440 /dev/devmap
    chown root system /dev/devmap

    # bluetooth
    chown bluetooth bluetooth /dev/hid-keyboard
    chmod 0660 /dev/hid-keyboard
    chown system net_bt_admin /dev/uinput

    # UIBC
    chown system media /dev/uibc
    chmod 0660 /dev/uibc

    #TV-out
    chmod 0664 /dev/TV-out

    #HDMI
    chown media system /dev/hdmitx
    chmod 0664 /dev/hdmitx

    # almk
    chmod 0440 /dev/mtk_almk

    # DISP
    chmod 0444 /dev/mtk_disp

    # gz device
    chmod 0660 /dev/gz_kree
    chown system camera /dev/gz_kree

    #Camera
    chmod 0660 /dev/camera-isp
    chmod 0660 /dev/camera-dip
    chmod 0660 /dev/camera-dpe
    chmod 0660 /dev/camera-mfb
    chmod 0660 /dev/camera-rsc
    chmod 0660 /dev/camera-owe
    chmod 0660 /dev/camera-fdvt
    chmod 0660 /dev/camera-wpe
    chmod 0660 /dev/kd_camera_hw
    chmod 0660 /dev/seninf
    chmod 0660 /dev/flashlight
    chmod 0660 /dev/kd_camera_hw_bus2
    chmod 0660 /dev/CAM_CAL_DRV
    chmod 0660 /dev/MAINAF
    chmod 0660 /dev/MAIN2AF
    chmod 0660 /dev/SUBAF
    chmod 0660 /dev/SUB2AF
    chmod 0660 /dev/vpu

    chown system camera /dev/camera-isp
    chown system camera /dev/camera-dip
    chown system camera /dev/camera-dpe
    chown system camera /dev/camera-mfb
    chown system camera /dev/camera-rsc
    chown system camera /dev/camera-owe
    chown system camera /dev/camera-fdvt
    chown system camera /dev/camera-wpe
    chown system camera /dev/kd_camera_hw
    chown system camera /dev/seninf
    chown system camera /dev/flashlight
    chown system camera /dev/kd_camera_hw_bus2
    chown system camera /dev/CAM_CAL_DRV
    chown system camera /dev/MAINAF
    chown system camera /dev/MAIN2AF
    chown system camera /dev/SUBAF
    chown system camera /dev/SUB2AF
    chown system camera /dev/vpu

    #VOW
    chmod 0640 /dev/vow
    chown media media /dev/vow

    #CCU
    chmod 0666 /dev/ccu
    chown system camera /dev/ccu

    # SMI
    chmod 0660 /dev/MTK_SMI
    chown media media /dev/MTK_SMI

    chmod 0664 /sys/bus/platform/drivers/emi_ctrl/concurrency_scenario
    chown media media /sys/bus/platform/drivers/emi_ctrl/concurrency_scenario

    #usip
    chmod 0660 /dev/usip
    chown media media /dev/usip

    #Thermal
    mkdir /data/vendor/.tp/ 0775 system system

    # power manager
    write /sys/power/pm_async 0
    write /sys/power/pm_freeze_timeout 2000

    # RTC
    chmod 660 /dev/alarm
    chown root system /dev/alarm

on boot
    write /proc/bootprof "INIT:boot"

    chmod 0664 /sys/class/leds/lcd-backlight/brightness
    chown system system /sys/class/leds/lcd-backlight/brightness
    chmod 0664 /sys/class/leds/white/brightness
    chown system system /sys/class/leds/white/brightness
    chmod 0666 /sys/devices/platform/mtkfb/disp_param
    chown system system /sys/devices/platform/mtkfb/disp_param
    chown system system /sys/class/thermal/thermal_zone3/temp

    chown system system /sys/devices/system/cpu/cpufreq/policy0/scaling_governor
    chmod 0664 /sys/devices/system/cpu/cpufreq/policy0/scaling_governor
    chown system system /sys/devices/system/cpu/cpufreq/policy6/scaling_governor
    chmod 0664 /sys/devices/system/cpu/cpufreq/policy6/scaling_governor
    chown root   system /sys/kernel/debug/binder/transaction_log_enable
    chown root   system /sys/kernel/debug/binder/perf_evalue

    chown root   radio  /sys/class/leds/lcd-backlight/duty
    chown root   radio  /sys/class/leds/lcd-backlight/div
    chown system system /sys/class/leds/lcd-backlight/trigger
    chown system system /sys/class/leds/white/trigger

    # PPM
    chown system system /proc/ppm/policy/userlimit_min_cpu_freq
    chmod 0664 /proc/ppm/policy/userlimit_min_cpu_freq
    chown system system /proc/ppm/policy/userlimit_max_cpu_freq
    chmod 0664 /proc/ppm/policy/userlimit_max_cpu_freq
    chown system system /proc/ppm/policy/userlimit_cpu_freq
    chmod 0664 /proc/ppm/policy/userlimit_cpu_freq
    chown system system /proc/ppm/dump_cluster_0_dvfs_table
    chmod 0440 /proc/ppm/dump_cluster_0_dvfs_table
    chown system system /proc/ppm/dump_cluster_1_dvfs_table
    chmod 0440 /proc/ppm/dump_cluster_1_dvfs_table

    # CPU freq
    chown system system /proc/cpufreq/cpufreq_power_mode
    chmod 0664 /proc/cpufreq/cpufreq_power_mode

    #Netlog tool
    #change permissions about terminal
    chown root radio /proc/net/vlan/config
    chmod 0640 /proc/net/vlan/config
    chown root radio /proc/net/ip6_tables_matches
    chown root radio /proc/net/ip6_tables_names
    chown root radio /proc/net/ip6_tables_targets
    chown root radio /proc/net/arp_tables_targets
    chown root radio /proc/net/arp_tables_matches
    chown root radio /proc/net/arp_tables_names
    chown root radio /proc/net/ip_tables_targets
    chown root radio /proc/net/ip_tables_matches
    chown root radio /proc/net/ip_tables_names
    chown root radio /proc/net/ip_conntrack_expect
    chown root radio /proc/net/ip_conntrack
    chown root radio /proc/net/nf_conntrack
    chown root radio /proc/net/nf_conntrack_expect
    chown root radio /proc/net/netfilter/nfnetlink_log
    chown root radio /proc/net/netfilter/nfnetlink_queue

    # WMT proc
    chown shell system /proc/driver/wmt_aee

    #Define device for EMCSMDLOGGER
    chown system radio /dev/ttyGS3
    chmod 0660 /dev/ttyGS3

    #Define device for ATCID
    chmod 660 /dev/ttyGS0
    chown system radio /dev/ttyGS0
    chmod 660 /dev/ttyGS1
    chown system radio /dev/ttyGS1

    chown system system /sys/class/power_supply/battery/input_suspend
    chmod 0666 /sys/class/power_supply/battery/input_suspend

    stop console

on property:vold.decrypt=trigger_reset_main
    write /proc/bootprof "INIT:vold.decrypt=trigger_reset_main"
    setprop sys.boot_completed 0
    setprop dev.bootcomplete 0

on property:vold.decrypt=trigger_post_fs_data
    write /proc/bootprof "INIT:vold.decrypt=trigger_post_fs_data"

on property:vold.decrypt=trigger_restart_min_framework
    write /proc/bootprof "INIT:vold.decrypt=trigger_restart_min_framework"
    start nvram_daemon
    start msensord

on property:vold.decrypt=trigger_restart_framework
    write /proc/bootprof "INIT:vold.decrypt=trigger_restart_framework"
    start nvram_daemon
    start msensord

on property:vold.decrypt=trigger_shutdown_framework
    write /proc/bootprof "INIT:vold.decrypt=trigger_shutdown_framework"
    setprop sys.boot_completed 0
    setprop dev.bootcomplete 0

# Stop bootprof
on property:sys.boot_completed=1
    write /proc/bootprof "0"

# reset mdmode when modem crash happens in ATM
on property:vendor.mtk.md1.status=reset
    setprop persist.vendor.atm.mdmode normal

on init
    symlink /dev/block/platform/bootdevice /dev/block/bootdevice

# Offline Charger
service charger /bin/charger
    class charger
    critical
    group system graphics
    seclabel u:r:healthd:s0

# MI Thermald
service mi_thermald /vendor/bin/mi_thermald
    class main
    user root
    group system
    seclabel u:r:mi_thermald:s0

service vendor.nfc_hal_service /vendor/bin/hw/android.hardware.nfc@1.1-service
    override
    class hal
    user nfc
    group nfc
    disabled

on property:ro.boot.product.hardware.sku=begonia
    start vendor.nfc_hal_service

on property:ro.boot.product.hardware.sku=""
    stop vendor.nfc_hal_service

on property:persist.sys.begonia.dt2w=0
    exec /system/bin/sendevent /dev/input/event2 0 1 4

on property:persist.sys.begonia.dt2w=1
    exec /system/bin/sendevent /dev/input/event2 0 1 5

on boot
    # SELinux
    write /sys/fs/selinux/enforce 1

    # Disable serial console
    stop console

on property:sys.boot_completed=1
    stop bootanim

on property:persist.vendor.mtk_aurisys_framework_support=*
    # Fix VoIP apps call echo
    stop audioserver
    start audioserver

on property:sys.boot_completed=1
    # Restrict permissions to socket file
    # to hide Magisk & co.
    chmod 440 /proc/net/unix
